{% extends "base.html" %}

{% block content %}

<h1>Courses</h1>

<a href="{{ url_for('home') }}">Go to Students</a>
<br><br>

{% if courses %}

<table id="all-courses" border="1">
    <tr>
        <th>SNo</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Actions</th>
    </tr>

    {% for course in courses %}
    <tr>
        <td>{{ loop.index }}</td>

        <td>
            <a href="/course/{{ course.course_id }}">
                {{ course.course_code }}
            </a>
        </td>

        <td>{{ course.course_name }}</td>

        <td>{{ course.course_description }}</td>

        <td>
            <a href="/course/{{ course.course_id }}/update">
                Update
            </a>

            <a href="/course/{{ course.course_id }}/delete">
                Delete
            </a>
        </td>

    </tr>
    {% endfor %}

</table>

{% else %}

<p>No course found. Add the courses now!</p>

{% endif %}

<br>

<a href="/course/create">Add Course</a>

{% endblock %}