{% extends "base.html" %}

{% block content %}

<h1>Course Details</h1>

<p><strong>Course Code:</strong> {{ course.course_code }}</p>

<p><strong>Course Name:</strong> {{ course.course_name }}</p>

<p><strong>Description:</strong> {{ course.course_description }}</p>

<hr>

<h2>Enrolled Students</h2>

{% if students %}

<table border="1">

    <tr>
        <th>Roll Number</th>
        <th>Name</th>
    </tr>

    {% for student in students %}

    <tr>
        <td>{{ student.roll_number }}</td>

        <td>
            {{ student.first_name }}
            {{ student.last_name }}
        </td>
    </tr>

    {% endfor %}

</table>

{% else %}

<p>No students enrolled in this course.</p>

{% endif %}

<br>

<a href="{{ url_for('courses') }}">Back to Courses</a>
<a href="/course/{{ course.course_id }}/update">
    Update
</a>
<a href="/course/{{ course.course_id }}/delete">
    Delete
</a>
{% endblock %}