{% extends "base.html" %}

{% block content %}

<h1>Update Course</h1>

<form method="POST">

    <p>
        Course Code
        <input
            type="text"
            name="code"
            value="{{ course.course_code }}">
    </p>

    <p>
        Course Name
        <input
            type="text"
            name="name"
            value="{{ course.course_name }}">
    </p>

    <p>
        Description
        <input
            type="text"
            name="desc"
            value="{{ course.course_description }}">
    </p>

    <input type="submit" value="Update">

</form>

{% endblock %}