<!DOCTYPE html>
<html>
    <head>
        <title>Course Details</title>
    </head>
    <body>
        <h1>Course Details</h1>

        <table border="2" cellspacing="0" cellpadding="4">
            <tr> 
                <th>Average Marks</th>
                <th>Maximum Marks</th>
            </tr>

            <tr>
                <td>{{avg}}</td>
                <td>{{max_marks}}</td>
            </tr>
        </table>

        <br>
        <br>

        <img src ="histogram.png" alt = "Histogram">
        
    </body>
</html>